.kanji-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.kanji-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 120px;
    text-align: center;
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Only apply hover effects to .clickable cards */
.kanji-card.clickable:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Styling for non-clickable cards */
.kanji-card.not-clickable {
    cursor: default;
    opacity: 0.6;
    transition: none;
    /* Disable transition effects */
}

.edit-button {
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: background-color 0.2s, opacity 0.2s;
    opacity: 0;
}

/* Show button on hover for both clickable and non-clickable */
.kanji-card:hover .edit-button {
    opacity: 1;
}

.edit-button:hover {
    background-color: #005f7a;
}