/* src/components/KanjiList.css */

.kanji-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.kanji-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 100px;
    /* Adjust card width */
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    /* Add a hover effect */
}

.kanji-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}